namespaces:
  nexusNs: nexusrepo
statefulset:
  name: nexusrepo-statefulset
  replicaCount: 1
  container:
    imageName: registry.connect.redhat.com/sonatype/nexus-repository-manager:3.61.0-ubi-2
    resources:
      # See help documentation, these are minimum system requirements
      requests:
        cpu: 4
        memory: "8Gi"
      limits:
        cpu: 4
        memory: "8Gi"
    containerPort: 8081
    pullPolicy: IfNotPresent
    terminationGracePeriod: 120
    env:
      clustered: false
      install4jAddVmParams: "-Xms2703m -Xmx2703m"
      user: nexus
      password: nexus
      jdbcUrl: null
      nexusInitialPassword: nexusabc
  livenessProbe:
    failureThreshold: 6
    initialDelaySeconds: 240
    path: /
    periodSeconds: 60
  readinessProbe:
    failureThreshold: 6
    initialDelaySeconds: 240
    path: /
    periodSeconds: 60
  imagePullSecrets: {}
ingress:
  name: nexus-ingress
  enabled: false
  host: "example.com"
  defaultRule: false
  additionalRules: null
  tls:
    enabled: false
    secretName: "tlsSecretName"
  dockerSubdomain: false
  annotations: null
  dockerIngress:  #Ingress for Docker Connector - comment out if you don't use docker repositories
    name: nexus-docker-ingress
    host: "example.com"
    enabled: false
    annotations: null
nexusData:
  pvc:
    size: 2Gi
    accessMode: ReadWriteOnce
  storageClass:
    name: nexusrepo-storage
    reclaimPolicy: Retain
    enabled: false
    volumeBindingMode: "WaitForFirstConsumer"
    provisioner: "provisioner" # E.g. kubernetes.io/no-provisioner. For dynamic provisioners see: https://docs.openshift.com/container-platform/4.13/storage/dynamic-provisioning.html
    parameters: {}
  volumeClaimTemplate:
    enabled: false
license:
  secretName: nexus-repo-license
  fileContentsBase64: your_license_file_contents_in_base_64

service:  #Nexus Repo NodePort Service
  nexus:
    name: nexus-repo-service
    enabled: false
    type: NodePort
    protocol: TCP
    port: 80
    targetPort: 8081
  docker:  #Nodeport Service for Docker Service
    name: nexus-repo-docker-service
    enabled: false
    type: NodePort
    protocol: TCP
    port: 9090
    targetPort: 9090
